In [2]:
import pandas as pd

name = []
matric_no = []
department = []
level = []

students = input('How many students are there: ')

for 

info = {'Student Name' : ['Oluchi Mordi', 'Adams Aliyu', 'Shania Bolade', 'Adekunle Gold', 'Blanca Edemoh'], 
       'Matric. Number': ['ACC10211111', 'ECO10110101', 'CSC10328828','EEE11020202', 'MEE10202001'], 
       'Department': ['Accounting', 'Economics', 'Computer', 'Electrical', 'Mechanical'],
       'Level': [300, 100, 200, 200, 100]}

df = pd.DataFrame(info)

df.to_csv('PAU SMIS.csv')
df

    Student Name Matric. Number  Department  Level
0   Oluchi Mordi    ACC10211111  Accounting    300
1    Adams Aliyu    ECO10110101   Economics    100
2  Shania Bolade    CSC10328828    Computer    200
3  Adekunle Gold    EEE11020202  Electrical    200
4  Blanca Edemoh    MEE10202001  Mechanical    100