In [1]:
import pandas as pd

data = {'Company':['Enron', 'Anderson', 'GK Jones', 'Mica', 'Dune'],
        'Company shares':[1000000, 1500000, 3000000, 250000, 800000],
       'Company liability':[200000, 500000, 1500000, 50000, 300000],
       'Founding Date':[1987, 1936, 2001, 1996, 2008], 
       'Percentage leverage': ['80%', '66%', '50%', '80%', '62.5%']}

df = pd.DataFrame(data)
df.to_csv('financial_crisis.csv')
df

,Company,Company shares,Company liability,Founding Date,Percentage leverage
0,Enron,1000000,200000,1987,80%
1,Anderson,1500000,500000,1936,66%
2,GK Jones,3000000,1500000,2001,50%
3,Mica,250000,50000,1996,80%
4,Dune,800000,300000,2008,62.5%